$primary:#2f3c48;
$secondary:#6f7f8c;
$success: #28A745;
$danger:#cc330d;
$info: teal;
$warning:#c79c27;
$light:#eceeec;
$dark:#1e2b37;
$lighter:lighten($light, 6%);
$info-lighter: lighten($info, 72%);
$highlight:#FFEC8B;

$text-muted:silver;
$logo-color:#1f2b36;
$logo-text:#a6562f;
$home-footer:#2c4762;
