.sidenav {
  position: absolute !important;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0px;
  width: 60%;
  max-width: 300px;
  background-color: rgb(245, 240, 240);
  height: 100%;
  border: 1px solid #ebebeb;
  left: 0px;
  top: 0px;
  z-index: 99999;

  -webkit-box-shadow: 3px 4px 7px 0px rgb(206, 202, 206);
  -moz-box-shadow: 3px 4px 7px 0px rgb(206, 202, 206);
  box-shadow: 3px 4px 7px 0px rgb(206, 202, 206);

  ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 2rem !important;
    font-size: 0.95rem;
  }

  hr {
    margin-left: -40px;
  }
}

.sidenav-header {
  background-color: lighten(silver, 15%);
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.sidenav-link {
  padding-bottom: 1rem;

  a {
    text-decoration: none;
    &:hover {color:red};
  }

  .dropdown-menu {
    border: 1px solid #ebebeb;
  }

  .dropdown {
    margin-left: -12px;

    .dropdown-toggle {
      font-size: 0.95rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.navbar-nav {
  display: flex;
  align-items: left !important;
}
