bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.AmbRcnTrade/.idea/contentModel.xml
/.idea/.idea.AmbRcnTrade/.idea/workspace.xml
AmbRcnTradeClient/.npmrc
/AmbRcnTradeServer/ExcelTemplates/~$Maersk Draft BL Template BL.xlsx
AmbRcnTradeServer/ExcelTemplates/~$InspectionExportTemplate.xlsx
